/* NO FUNCIONA PONER BACKGROUND-IMAGES */

body /* Color del cuerpo estereotípico */
{ 
	padding: 0;
	margin: 0;
	background-color: #633002;
	font-size: 12px;
	color: #ffffff;
	line-height: 170%;
}

hr /*Esto es una línea, a saberse que hace */
{
	background-color: #40628a;
	height: 1px;
}

a, a:link, a:visited, a:active, .linkOn, .linkOff /* Link Con Background */
{ 
	color: #ffffff; 
	text-decoration: none;
	/*background: #40628a;  ORIGINAL */
	background: linear-gradient(to bottom, rgba(243,226,199,1) 0%, rgba(99,76,43,1) 14%, rgba(125,92,43,1) 87%, rgba(233,212,179,1) 100%);
	border: 1px solid #161616;
	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor:default;
	transition-duration: 2s;
}

a.nobg, a.nobg:link, a.nobg:visited, a.nobg:active /*Link Sin background */
{ 
	color: #ffffff; 
	text-decoration: none;
	background: transparent;
	border: none;
	padding: 0px;
	margin: 0px;
	cursor:default;
	font-weight:bold;
}
a.nobg:hover  /*Link Sin background */
{ 
	color:#40628a;
}

a:hover 
{ 
	color: #16813A; /* Cuando haces un Hover sobre un boton de link, las letras se vuelven azules y el fondo blanco */
	background: #DAA4E5;
}

a.white, a.white:link, a.white:visited, a.white:active /* Esto es un link a la inversa (wtf) */
{ 
	color: #40628a; 
	text-decoration: none;
	background: #ffffff;
	border: 1px solid #161616;
	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor:default;
}

a.white:hover   /* Esto es un link a la inversa (wtf) */
{ 
	color: #ffffff;
	background: #40628a;
}

.linkOn, a.linkOn:link, a.linkOn:visited, a.linkOn:active, a.linkOn:hover /* Link activo en estos momentos */
{ 
	color: #ffffff; 
	background: linear-gradient(to bottom, rgba(242,184,96,1) 8%,rgba(243,226,199,1) 13%,rgba(233,212,179,1) 86%,rgba(232,175,90,1) 91%);
	border-color: #24722e;
	
}

.linkOff, a.linkOff:link, a.linkOff:visited, a.linkOff:active, a.linkOff:hover /* Link desactivado */
{ 
	color: #ffffff; 
	background: #999999;
	border-color: #666666;
}

a.icon, .linkOn.icon, .linkOff.icon /* Un link con icono */
{
	position: relative;
	padding: 1px 4px 2px 20px;
}

a.icon img, .linkOn.icon img  /* Un link con imagen */
{
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
}

ul 
{
	padding: 4px 0 0 10px;
	margin: 0;
	list-style-type: none;
}

li
{
	padding: 0 0 2px 0;
}

img, a img 
{ 
	border-style:none; 
}

h1, h2, h3, h4, h5, h6
{
	margin: 0;
	padding: 16px 0 8px 0; 
	color: #517087;
}

h1
{
	font-size: 15px;
}

h2
{
	font-size: 14px;
}

h3
{
	font-size: 13px;
}

h4
{
	font-size: 12px;
}

.uiWrapper /* ESTO ES EL FONDO DE LA VENTANA */
{

	width: 100%;
	height: 100%;
	padding-top:32px;
	background: linear-gradient(to bottom, rgba(224,155,58,1) 0%,rgba(86,49,12,1) 14%,rgba(96,59,7,1) 88%,rgba(224,155,58,1) 100%);
	
}

.uiTitle  /* La parte de arriba de las ventanas */
{
	clear: both;
	padding: 6px 8px 6px 8px;
	border-bottom: 2px solid #161616;
	background: #E09B3A;
	/*background: #383838; ORIGINAL*/
	/*background: linear-gradient(to bottom, rgba(243,226,199,1) 0%, rgba(31,21,7,1) 7%, rgba(125,92,43,1) 95%, rgba(233,212,179,1) 100%);
	*/color: #7A7A11;
	font-size: 16px;
}

.uiTitleWrapper
 {
 	position:fixed;
 	top:0px;
 	left:0px;
 	right:0px;
 	z-index: 10
 }
 
 .uiTitleButtons
 {
 	position:fixed;
 	top:0px;
 	right:0px;
 	height:32px;
 	z-index:11;
 }


.uiTitle.icon
{
	padding: 6px 8px 6px 42px;
	background-position: 2px 50%;
	background-repeat: no-repeat;
}

.uiContent /* ESTE ES EL CONTENIDO GENÉRICO DE LAS UIs QUE SALEN DE BROWSER*/
{	
	clear: both;
	padding: 8px;
	font-family: Verdana, Geneva, sans-serif; /*AÑADIDO EL BACKGROUDN */
	background: linear-gradient(to bottom, rgba(243,226,199,1) 0%, rgba(99,76,43,1) 14%, rgba(125,92,43,1) 87%, rgba(233,212,179,1) 100%);

}
.good
{
	color: #00ff00;
}

.average
{
	color: #d09000;
}

.bad
{
	color: #ff0000;
}

.highlight
{
	color: #8BA5C4;
}

.dark
{
	color: #272727;
}

.notice
{
	position: relative;
	background: #E9C183;
	color: #15345A;
	font-size: 10px;
	font-style: italic;
	padding: 2px 4px 0 4px;
	margin: 4px;
}

.notice.icon
{	
	padding: 2px 4px 0 20px;
}

.notice img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
}

div.notice
{
	clear: both;
}

.statusDisplay
{
	background: #000000; /*ORIGINAL*/
	/*background: linear-gradient(to bottom, rgba(243,226,199,1) 0%, rgba(31,21,7,1) 7%, rgba(125,92,43,1) 95%, rgba(233,212,179,1) 100%);
	*/
	color: #ffffff;
	border: 1px solid #40628a;
	padding: 4px;
	margin: 3px 0;
}

.statusLabel
{
	width: 138px;
	float: left;
	overflow: hidden;
	color: #98B0C3;
}

.statusValue
{
	float: left;
}

.block
{
	padding: 8px;
	margin: 10px 4px 4px 4px;
	border: 1px solid #40628a;
	background-color: #202020; /* ORIGINAL */
	/*background: linear-gradient(to bottom, rgba(243,226,199,1) 0%, rgba(31,21,7,1) 7%, rgba(125,92,43,1) 95%, rgba(233,212,179,1) 100%);
	*/
}

.block h3
{
	padding: 0;
}

.progressBar
{
	width: 240px;
	height: 14px;
	border: 1px solid #666666;
	float: left;
	margin: 0 5px;
	overflow: hidden;
}

.progressFill
{
	width: 100%;
	height: 100%;
	background: #40628a;
	overflow: hidden;
}

.progressFill.good
{
	color: #ffffff;
	background: #00ff00;
}

.progressFill.average
{
	color: #ffffff;
	background: #d09000;
}

.progressFill.bad
{
	color: #ffffff;
	background: #ff0000;
}

.progressFill.highlight
{
	color: #ffffff;
	background: #8BA5C4;
}

.clearBoth
{
	clear: both;
}

.clearLeft
{
	clear: left;
}

.clearRight
{
	clear: right;
}

.line
{
	width: 100%;
	clear: both;
}